body {
    margin: 25px;
    background-color: #fcf7fd;
}

.title {
    text-align: right;
}

h1 {
    color: #1a6558;
}

h2 {
    text-align: center;
    color: #228473;
}

h3 {
    color: #99e5d8;
}

.navbar-default {
    background-color: #5a005a;
    border-color: #5a005a;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
    color: #c282e1;
    font-size: medium;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #810081;
    color: #99e5d8;
    font-size: medium;
}

.page-header {
    border-bottom: 0;
}

.showcase-image > img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.center > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

p {
    font-size: 110%;
}
